<h1>Editing Relationship</h1>

<%= render 'form', relationship: @relationship %>

<%= link_to 'Show', [@project, @demand, @relationship] %> |
<%= link_to 'Back', project_demand_relationships_path(@project, @demand) %>
